<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="/static/style.css">
    
    <link rel="stylesheet" href="../static/head.css">
    <link rel="stylesheet" href="/static/head.css">
    
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="/static/main.css">
    
    <link rel="stylesheet" href="../static/scrollbar.css">
    <link rel="stylesheet" href="/static/scrollbar.css">

    <link rel="stylesheet" href="../static/bottom.css">
    <link rel="stylesheet" href="/static/bottom.css">

</head>
<body>

    <div class="top">
        <div class="logo">
            <a class="logo"  href="index.html" >
                Znanya
            </a>
        </div>
        <div class="nav">
            <ul>
                <a class="href" th:href="@{/}"><li>MAIN</li></a>
                <a class="href" th:href="@{/user}"><li>USER</li></a>
                <a class="href" th:href="@{/main}"><li>CHAT</li></a>
                <a class="href" th:href="@{/registr}"><li>REGISTR</li></a>
                
                <form th:action="@{/logout}" method="post" class="li">
                    <input type="submit" value="Sign Out" class="sigOut"/>
                </form>
            </ul>
        </div>
        
    </div>

    <div class="area">
    
    <form th:action="@{/main}" method="get" class="filter">
            <input type="text" name="filter" th:value="${filter}" placeholder="  Введите имя пользователя" class="filter_input"/>
            <input type="submit" value="Поиск" class="btn_filter"/>
    </form>
        
    <div class="contain">
        <div class="textarea"  th:each="message:${messages}">
            <div class="in_textarea">
               <div class="bl">
                    <img class="ava" th:src="@{img/}+${message.getFilename()}" alt="">
<!--                    <img class="ava" src="../static/img/bg-01.jpg" alt="">-->
                    
                    <b th:text="${message.getAuthorName()}"></b>
                </div>
                <div class="txt">
                    <span th:text="${message.getText()}"></span>
                    <i th:text="${message.getTag()}"></i>
                </div>
                
            </div>
        </div>
    </div>

        <form th:action="@{/get}" method="post" class="form">
            <textarea name="text" class="send" placeholder="Напишите сюда свой отзыв"></textarea>
            <input type="hidden" name="tag" value="user"/>
            
            <div class="out_btn">
                <input type="submit" class="btn" src="../static/send.png" value=""/>
            </div>
        </form>

    </div>

    <div id="bottom">

        <div class="in_bottom" id="foother">
            <div class="in_b_logo">
                <a class="in_b_logo_a" href="index.html">
                    Znanya
                </a>
            </div>
            <div class="in_b_nav">
                <ul class="in_b_nav_ul">
                    <a class="in_b_a" th:href="@{/}"><li>MAIN</li></a>
                    <a class="in_b_a" th:href="@{/registr}"><li>REGISTR</li></a>
                    <a class="in_b_a" th:href="@{/main}"><li>CHAT</li></a>
                </ul>
            </div>
            <div class="in_b_txt">by Znanya</div>
        </div>

    </div>
    <script src="static/js/scrollBottom.js"></script>
    <script src="../static/js/scrollBottom.js"></script>
</body>
</html>